<div class="banner">
    <app-admin-header></app-admin-header>
    <div class="row row-cols-1 row-cols-sm-2 g-3">
        <div class="col" *ngFor="let ele of places">
            <div class="card">
                <!-- <img src="../../assets/Flights.jpeg" class="card-img-top" alt="card-grid-image"> -->
                <div id="carouselWithIndicators" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ele.image1}}" class="d-block w-100" style="height:300px ;" alt="Slide 1">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ele.image2}}" class="d-block w-100" style="height:300px ;" alt="Slide 2">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ele.image3}}" class="d-block w-100" style="height:300px ;" alt="Slide 3">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ele.image4}}" class="d-block w-100" style="height:300px ;" alt="Slide 1">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="card-title"><input type="text" placeholder="{{ele.name}}" #pname (keyup.enter)="updatepname(pname.value,ele.id)"></h2>
                    <h5 class="card-title">Location :<input type="text" placeholder="{{ele.location}}" #ploc (keyup.enter)="updatelocation(ploc.value,ele.id)"> </h5>
                    <h5 class="card-title">ViewPoint : {{ele.viewpoint}}</h5>
                    <h5 class="card-title">Type : <input type="text" placeholder="{{ele.type}}" #ptype (keyup.enter)="updatetype(ptype.value,ele.id)"></h5>
                    <h5 class="card-title">Contact :<input type="text" placeholder="{{ele.contact}}" #contact (keyup.enter)="updatecontact(contact.value,ele.id)"></h5>
                    <h5 class="card-title">Contact :<input type="number" placeholder="{{ele.price}}" #pprice (keyup.enter)="updatepprice(pprice.value,ele.id)"></h5>
                    <h5 class="card-title">Reserved : <input type="text" placeholder="{{ele.reserved}}" #preserve (keyup.enter)="updatereserved(preserve.value,ele.id)"></h5>
                    <p class="card-text">{{ele.description}}
                    </p>
                    <p class="card-text"><small class="text-muted">Rating {{ele.rating}}</small></p>
                    <Button class="btn btn-danger" (click)="delete(ele)">Remove Place</Button>
                </div>
            </div>
        </div>